<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/addques.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Form</title>
  <style>
    a:link {
      text-decoration: none;
    }
  </style>
</head>

<body >

<div class="container">
  <form style="margin:100px;margin-top: 10px;">
    <h2 class="tm-block-title d-inline-block" style="margin-bottom: 5%;">Add Question</h2>
    <div class="form-group">
      
      <div class="row">
        <div class="col-25">
          <label for="question">Course</label>
        </div>
        <div class="col-75">
          <input type="text" id="subname" name="subname" placeholder="Enter subject name" required>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="question">Question</label>
        </div>
        <div class="col-75">
          <textarea id="question" placeholder="Enter Question" style="height:100px" required></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="question_number">Marks</label>
  
        </div>
        <div class="col-75">
          <input type="number" id="subname" name="subname" placeholder="Enter Marks" required>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="option1">Option 1</label>
  
        </div>
        <div class="col-75">
          <input type="text" id="subname" name="subname" placeholder="Enter Option 1" required>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="option2">Option 2</label>
  
        </div>
        <div class="col-75">
          <input type="text" id="subname" name="subname" placeholder="Enter Option 2" required>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="option3">Option 3</label>
  
  
        </div>
        <div class="col-75">
          <input type="text" id="subname" name="subname" placeholder="Enter Option 3" required>
  
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="option3">Option 4</label>
  
  
        </div>
        <div class="col-75">
          <input type="text" id="subname" name="subname" placeholder="Enter Option 4" required>
  
        </div>
      </div>
  
      <div class="row">
        <div class="col-25">
          <label for="answer">Answer</label>
  
  
        </div>
        <div class="col-75">
          <input type="text" id="subname" name="subname" placeholder="Enter Answer" required>
  
        </div>
      </div>
      <div class="row">
        <button type="submit" class="btn">Add</button>
      </div>
    </div>
  </form>

</div>
  

</body>