<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Login</title>
</head>
<body>
   
    <div class="container">
        <div class="error">
            ⛔ User already exists!
        </div>
        <div class="loginContainer">
            <img src="img/userPhoto.png" alt="user icon" class="userPhoto">
            <form class="loginForm" method="POST" action="/login" >
                <div class="loginEmail">
                    <h5>Email</h5>
                    <input type="email" name="femail"  required>
                </div>
                <div class="loginPassword">
                    <h5>Password</h5>
                    <input type="password" name="fpassword" required>
                </div>
                <input class="loginSubmit" type="submit" value="Sign In">
                <div class="googleLogin">
                    <img src="img/googleIcon.png" alt="">
                    <div>Login With Google</div>
                </div>
                <div class="userRegister">Forgot Password</div>
            </form>
            
    
        </div>
        <a href="/register"><div class="userRegister">New User Register-></div></a>
        
    </div>
    

</body>
</html>