<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/register.css">
    <title>Register</title>
</head>
<body>
   
    <div class="container">
        <div class="error">
            <h5><%=regi_error%></h5>  
        </div>
        <div class="registerContainer">
            <form class="registerForm" method="POST" action="/register" >
                <div class="loginEmail name">
                    <h5>Name</h5>
                    <input type="text" name="fname"  required>
                </div>
                <div class="loginEmail">
                    <h5>Profession</h5>
                    <input type="text" name="fprofession"  required>
                </div>
                <div class="loginEmail">
                    <h5>Email</h5>
                    <input type="email" name="femail"  required>
                </div>
                <div class="loginEmail">
                    <h5>Phone No</h5>
                    <input type="number" name="fphone"  required>
                </div>
                <div class="loginPassword">
                    <h5>Password</h5>
                    <input onkeyup="trigger()"  class="fpass" type="password" name="fpassword" required>
                </div>
                <!--Password straingth indicator-->
                <div class="indicator">
                    <span class="weak"></span>
                    <span class="medium"></span>
                    <span class="strong"></span>
                </div>
                <input class="loginSubmit" type="submit" value="Register">
                
                <a href="/login"><div class="userRegister">Already have an account,<br/> Sign In </div></a>
                
            </form>
            
    
        </div>
       
    </div>
    

    <script src="js/register.js"></script>
</body>
</html>






