<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/test.css">
    <title>Test</title>
    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">   
</head>
<body>
    <div class="container">
        <!-- navigation bar-->
        <nav>
            <img class="logo" src="img/logoBlack.png" alt="Logo" >
            <div class="search-container">
                <input style="border:none; outline:none; background-color: #ECECEC;" placeholder="Search the Questions.." type="text" name="fsearch">
                <img class="searchLogo" src="img/search.png" alt="">
            </div>
        </nav>

        <!--Main question bar-->
        <main>
            <div class="question-bar"></div>
            <div class="question">
                <img class="box-img" src="img/box.png" alt="Box" srcset="">
                <div class="sub-question">What is your name? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, quae alias! Molestias voluptatibus nobis minima, quis amet nihil cumque recusandae et accusamus eius! Facilis alias voluptate sed veritatis perspiciatis aliquid!</div>
                
            </div>
        </main>

        <!--Left sidebar-->
        <div id="sidebar1">
            <div class="left-sidebar">
                <div class="practice">
                    <span>Practice</span>
                    <ul>
                        <li>   Data Structure</li>
                        <li>   DBMS</li>
                        <li>   Maths</li>
                        <li>   OOP</li>
                        <li>   Networking</li>
                        <li>   Maths</li>
                    </ul>
                </div>

                <div class="practice">
                    <span>Practice Test</span>
                    <ul>
                        <li>   Take Test</li>
                    </ul>
                </div>
            </div>
        </div>

        <!--Right sidebar-->
        <div id="sidebar2">
            <div class="signin-container">
                <span class="admin">ADMIN</span>
                <hr>
                <div class="SignIn"><span>Sign In</span></div>
            </div>
        </div>
    </div>
</body>
</html>