
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/vieQ.css">
    <link rel="stylesheet" href="css/Sample.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/quiz2.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Question</title>
</head>
<body>
   
    <div class="sidenav">
        <a href="#">Home</a>
        <a href="/subject">Practice Test</a>


        <button class="dropdown-btn">Subjects
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <a href="/database">Database</a>
          <a href="/CNSL">CNSL</a>
        </div>

        <a href="/"> View Questions </a>
        <a href="/login">Admin Login</a>
       
      </div>
    
    <main>
       
        <% for(var i=0; i<item.length; i++){%>

        <div class="card" id="ques">

            <div class="card-body">
              <p><%= item[i].question %> </p>
              <p><span id="Qid"><%= item[i].subject_name %> </span></p>
              <span id="tag"> Ans:<%=item[i].answer  %>  </span>
            </div>
        </div>
        <% } %> 
       <!--
        <ul class="gradient-list">
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          <li>Aenean tincidunt elit at ipsum cursus, vitae interdum nulla suscipit.</li>
          <li>Curabitur in orci vel risus facilisis accumsan.</li>
          <li>Morbi eleifend tortor lacinia sapien sagittis, quis pellentesque felis egestas.</li>
          <li>Aenean viverra dui quis leo lacinia fringilla.</li>
          <li>Sed varius lectus ac condimentum egestas.</li>
          <li>Maecenas faucibus lorem nec lorem posuere, a rhoncus velit porttitor.</li>
          <li>Proin porta arcu ac elit malesuada pulvinar.</li>
          <li>Phasellus vitae felis sit amet mi gravida volutpat.</li>
          
        </ul>


       --> 
      </main>
      <script src="js/Sample.js"></script>
</body>
</html>
