*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html,body{
    display: grid;
    height: 100%;
    place-items: center;
}
.registerForm{
    padding: 1px 20px 20px 20px;
}
.registerContainer{
    border-style: solid;
    border-width: 2px;
    border-color: #707070;
    justify-content: center;
    width: 250px;
    height: 450px;
}
.loginPassword{
    margin-top: 9px;
}
.loginEmail{
    margin-top: 9px;
}
.loginSubmit{
    background-color: #273239;
    border-color: #707070;
    color: white;
    margin-top: 25px;
    height: 32px;
    width: 100%;
    font-weight: bold;
    
    
}

input{
   width: 100%;
   height: 30px;
}

.registerForm .userRegister{
    text-align: right;
    margin-top: 10px;
    font-size: small;
    color: #000000;
    opacity: 40%;
    font-weight: bold;

}
.name{
    margin-top: 30px;
}
.error{
    width: 250px;
    color: red;
    margin-bottom: 5px;
}






.indicator{
    height: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    margin-bottom: -6px;
    display: none;
}
.indicator span{
    width: 100%;
    height: 100%;
    background-color: lightgray;
    border-radius: 5px;
    position: relative;
    margin: 1px;
}
.indicator span .medium{
    margin: 0 3px;
}
.indicator span:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.indicator span.active.weak:before{
    background-color: #ff4757;
}
.indicator span.active.medium:before{
    background-color: orange;
}
.indicator span.active.strong:before{
    background-color: #23ad5c;
}